@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
    margin : 0;
    padding :0;
    font-family: 'Josefin Sans', sans-serif;
} 

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

div div {
    /*border: 2px solid black; */
    padding: 5px;
    
    /* margin: 15px; */
}
body{
    height: 100vh;
    background-position: center;
    background-size: auto;
    background-image: url("images/slider-img-3.jpg");
    opacity: 80%;
}

.grid-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-auto-rows: minmax(5em, auto)  ;
    grid-gap: 3em;
    justify-content: center;
    grid-auto-flow: dense;
}

a:hover{
    
    color: red
  }


.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    
}

.header {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
   
}


.Historytable {
    grid-column: 1/ 4;
    grid-row: 2 / 5;
    align-items: center;
 
}  

.corner {
    color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
    margin-right:5em;
    margin-top: 1.3em;
    font-size: 1.5em;
    
    
}

.corner a:hover {
    color: whitesmoke;
}



.footer {
    grid-column: 1 / -1;
   
}

.logDeco {
    float: left;
    width: 15em;
    height: auto;
    margin-left: 4em;
    
  }

  fieldset {        
    width: 80%;
    text-align: center;
    background-color:rgb(189, 172, 172);
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
    border-radius: 1em;
    /*
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    */
  }

  div button {
    color: white;
    background-color: green;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.2em #000000;
    /*padding: 0.1em 0.2em 0.1em 0.2em; */
    width: 9em;
    height: 3em;
    font-size: 1.2em;
    opacity: 80%; 
    margin-top: 2em; 
             
 } 

 div input {
     border-radius: 0.3em;
     padding: 0.3em 0.3em 0.3em 0.3em ;
 }

 button:hover {
    opacity: 100%;
    color: white;
 }

 .formAlignment {
    padding-left: 0.5em;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
  }

  #welcomehedingDeco {
      font-size: 1.2em;
      font-style: italic;
      margin-left: 3em;
      padding-top: 1em;
 }
 #welcomeparaDeco {
    margin-left: 5em;
    padding-top: 1em;
    color: rgb(233, 148, 21);
}

  hr {
    width: 80%;
    opacity: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .titletxt{
    margin-bottom: 20px;
     color:white;
     font-family: 'Allura', cursive;
     text-transform: uppercase;
     font-size: 38px;
     word-spacing: 25px;
     letter-spacing: 5px;
 }
 
 h2 span {
    color:maroon ;
}
  

  table {
	background: #f5f5f5;
	border-collapse: collapse;
    border-spacing: 0;
	box-shadow: inset 0 1em 0 #fff;
	font-size: 1em;
	line-height: 2em;
	margin-left: 5em;
    margin-right: 5em;
	text-align: center;
	width: auto;
    padding: 0.5em;
    align-self: center;
    margin-top: 2em;
  }



th {
	border-left: 0.1em solid #777;	
	box-shadow: inset 0.1em 0.1em 0 #999;
    background-color: #777;
    width: 10em;
    padding: 0.5em;

}

td {
	border-right: .1em solid #fff;
	border-left: .1em solid #e8e8e8;
	border-top: .1em solid #fff;
	border-bottom: .1em solid #e8e8e8;
	padding: .5em;
	position: relative;
	width: auto;
}

table tr:nth-child(even) {
    background: #c2c1c1;
}

.Historytable h2 {
    float: left;
    margin-left: 3.5em;
}

.butn{

    float: right;
    font-size: .7em;
    color: #fff;
    display:inline;
    background: maroon;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-top: .1em;
    margin-right: 6em;
   border-radius: 0em;
    
}
.first {
    display: inline-block;
}

@media (max-width:656px)
{
    .logo img{

        float: left;
        width: 7em;
        height: auto;
        margin-left: 3em;
        margin-top: 1em;
        
    }

    .grid-container {
        width: fit-content;
        font-size: 70%;
    }
}